{% extends 'base.html' %}

{% block title %}
    {{ game.name }}
{% endblock %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mb-3" style="max-width: 600px;">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-end"> {{ game.age_group }} </p>
                                <h5 class="card-title">{{ game.name }}</h5>
                                    <p class="card-text"><small class="text-muted">{{ game.category }}</small></p>
                                    <p class="card-text">{{ game.description }}</p>

                                    <p class="card-text"><small class="text-muted">Игроков: {{ game.min_players }} - {{ game.max_players }}</small></p>
                                    <p class="card-text">{{ game.status }}</p>
                                    <p class="card-text">{{ game.price }}₽/час</p>
                                <div class="btn-group">
                                    <a href="{% url 'games:list' %}">Назад</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
