{% extends 'base.html' %}

{% block title %}
    Профиль, {{ form.name }}
{% endblock %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form class="form" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                </form>
                <a class="dropdown-item" href="{% url 'users:register' %}">Изменить</a>
            </div>
        </div>
    </div>
{% endblock %}
