<div class="row">
    <div class="col mt-3">
        <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col">
                            <div class="card-body">
                                <p class="nav-link">Разделы</p>
                                    <a class="nav-link" href="{% url 'games:list' %}">Все игры</a>

                                    <a class="nav-link" href="{% url 'games:list' %}">Популярное</a>

                                    <a class="nav-link" href="{% url 'games:list' %}">Доступно сейчас</a>

                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>